.searchWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.label {
  display: flex;
  gap: 5px;
  flex-direction: column;
  & span {
    font-weight: bold;
  }
}
.input {
  padding: 5px;
  border-radius: 8px;
  width: 20vw;
}
